*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    font-family: "Oswald", sans-serif;
    
}

.oswalduniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.robotouniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-btn: #0057FF;
    --color-btn_orange: #FFA332;
    --color-btn_hover: #2C99FF;
    --color-btn_hover-var: hsl(41, 97%, 64%);
    --color-star: #fcce02;
}
/**************************************************** Header ****************************************************/
.header {
    padding-top: 13px;
    padding-bottom: 15px;
}
.header_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section {
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.header-logo {
    height: 32px;
    width: 93px;
}
.header-menu {
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-nav li {
    padding: 1px 10px;
    list-style-type: none;
}

.header-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: var(--color-black);
}
.header-nav a:hover {
    color: var(--color-btn);
}

.btn {
    font-family: "Oswald", sans-serif;
    padding: 14px 40px;
    background-color: var(--color-btn);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 14px;
    width: 193px;
    height: 52px;
    border: none;
    border-radius: 30px;
    line-height: 24px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-btn_hover);
}
.header-btn {
}

/**************************************************** Marketing_section ****************************************************/
.marketing {
    padding-top: 171px;
    padding-bottom: 120px;
}
.marketing-flex {
    position: relative;
    display: flex;
}
.marketing-text {
}
.text-h2 {
    margin: 0;
    width: 427px;
    font-size: 56px;
    line-height: 66px;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 39px;
}
.text-p {
    font-family: "Roboto", sans-serif;
    width: 484px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-black);
    margin-bottom: 17px;
}
.marketing-avatar__block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.marketing-avatar {
}
.avatar-item {
}
.text-h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-black);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.score {
}
.fa {
    color: var(--color-star);
    
}
.fa-star {
    
}
.marketing-btn {
    width: 176px;
    background-color: var(--color-btn_orange);
}

.marketing-btn:hover {
    background-color: var(--color-btn_hover-var);
}
.marketing-img {
    position: absolute;
    top: -154px;
    left: 475px;
}

/**************************************************** Solution_section ****************************************************/
.solution {
    padding-top: 166px;
    padding-bottom: 101px;

}
.solution-item {
    position: relative;
    text-align: center;
}

.solution-text {
    max-width: 700px;
    margin: 0 auto;
}
.text-h6 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #0057FF;
    margin-bottom: 4px;
    font-weight: 400;

}
.text-h2 {
    width: 468px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1px;
    color: var(--color-black); 
    margin-bottom: 39px;   
}
.text-p {
}
.solution-p {
    text-align: center;
    width: 693px;
    margin-bottom: 77px;
}
.solution-img {
    margin-bottom: 40px;
}

.solution-btn {
    font-size: 14px;
    color: var(--color-black);
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.solution-btn:hover {
    color: var(--color-btn);
}

.solution-img__left {
    position: absolute;
    left: -351px;
    top: 320px;
}
.solution-img__right {
    position: absolute;
    bottom: -50px;
    right: -20px;
}

/**************************************************** Experience_section ****************************************************/
.experience {
    position: relative;
    padding-bottom: 115px;
}
.experience-flex {
    display: flex;
    gap: 120px;
}
.experience-description {
}
.text-h2 {
}
.experience-h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 48px;
}
.text-p {
}
.experience-p {
    font-size: 15px;
    width: 488px;
    margin-bottom: 17px;
}
.experience-info {
    display: flex;
    gap: 78px;
    padding-top: 20px;
}
.support,
.email  {
    width: 212px;
}
.support-img {
    margin-bottom: 20px;
}
.text-h3 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.support-p,
.email-p  {
    width: 195px;
    margin-bottom: 30px;
}

.email-img {
    margin-bottom: 18px;
}

.btn {
}
.experience-btn {
    width: 140px;
    font-size: 13px;
    font-weight: 400;
}
.experience-form {
    
    height: 865px;
    width: 540px;
    padding-bottom: 51px;
    border-radius: 15px;
    box-shadow: 0 8px 28px 0 rgb(83, 83, 83, 15%);
    

}
.form-img {
    margin-bottom: 57px;
}
.text-h4 {
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 26px;
    text-align: center;
}
.form {
    padding-left: 40px;
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    font-size: 15px;
    line-height: 60px;
    outline: none;

}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: #e7e7e7;
}

.form-p {
    text-align: center;
    width: 460px;
    margin: 0 auto;
    margin-bottom: 17px;
}
.name, 
.email-input,
.subject {
    width: 218px;
    height: 60px;   
    padding-left: 26px;
    padding-right: 26px;
}
.name {
    margin-right: 22px;
}
.subject {
    width: 462px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.textarea {
    font-family: "Roboto", sans-serif;
    padding-left: 26px;
    padding-right: 26px;
    width: 462px;
    height: 140px;
    margin-bottom: 38px;
}
.form-btn {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    width: 462px;
    

}
.experience-triangles {
    position: absolute;
    right: 330px;
    bottom: 92px;
}

/**************************************************** Answers_section ****************************************************/

.answers {
    padding-top: 115px;
    padding-bottom: 49px;
    
}
.answers-item {
    display: flex;
    gap: 120px;
    
}
.answers__img {
    max-width: 594px;
    max-height: 659px;
}
.answers-block {
}
.text-h2 {
}
.answers-h2 {
    margin: 0;
    margin-bottom: 40px;
}
.text-p {
}
.answers-p {
    font-size: 15px;
    margin-bottom: 57px;
}
.answers-accordion {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #E7E7E7;
    border-radius: 20px;
    overflow: hidden;
}



.title {
    padding: 30px 40px;
    text-transform: uppercase;
    line-height: 28px;
    background-color: var(--color-white);
    cursor: pointer;
    font-weight: 400;
    position: relative;  
    list-style: none;
}

.title::-webkit-details-marker {
    display: none;
}

.title::before {
    content: '+';
    color: var(--color-btn);
    position: absolute;
    right: 35px;
    top: 30px;
    font-size: 36px;
}

.title:hover {
    background-color: #eaeaea;
}
.accordion[open] > .title::before {
    content: '▼'; 
    font-size: 16px;
    right: 35px;
    top: 28px;
}

.accordion-content {
    padding: 30px 40px;
    font-size: 15px;
    line-height: 1.5;
    position: relative; 
    font-weight: 400;
    background-color: #e3e3e3;
}



/* .accordion-item {
    overflow: hidden;
}
.accordion-header {
    padding: 30px 40px;
    text-transform: uppercase;
    line-height: 28px;
    display: block;
    background-color: var(--color-white);
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.3s ease;
}
.accordion-header:hover {
    background-color: #eaeaea;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 40px;
    background-color: #F8F8F8;
}
.accordion-content p {
    padding: 12px 0;
    font-size: 15px;
    line-height: 1.5;
} */

/* .accordion-item input {
    display: none;
} */

/* .accordion-item input:checked ~ .accordion-content {
    max-height: 200px; /* Adjust if needed */
    

/**************************************************** Business_section ****************************************************/

.business {
    padding-top: 100px;
    padding-bottom: 115px;
}
.business-item {
    display: flex;
    gap: 120px;
}
.progress {
    margin-top: 110px;
}
.progress-h2 {
    margin: 0;
    width: 388px;
    margin-bottom: 49px;
    letter-spacing: 1px;
}
.text-h2 {
}
.text-p {
}
.progress-p {
    width: 506px;
    margin-bottom: 36px;
}
.progress-item {
    width: 540px;
    height: 222px;
}
.progress-item__content:not(:last-child) {
    margin-bottom: 20px;
}

.progress-title {
    display: flex;
    justify-content: space-between;
}
.text-h5 {
}
.progress-h5 {
    line-height: 39px;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.progress__max {
    width: 540px;
    height: 4px;
    background-color: #ebebeb;
    border-radius: 100px;
}

.progress__value {
    height: 4px;
    width: 459px;
    background-color: var(--color-btn);
    border-radius: 100px;
}

.education__value {
    width: 351px;
    background-color: #B861FF;
}

.strategy__value {
    width: 389px;
    background-color: #ff8e32;
}

.ticket {
    text-transform: uppercase;
    width: 540px;
    height: 710px;
    border-radius: 15px;
    padding-bottom: 40px;
    box-shadow: 0 8px 28px 0 rgb(83, 83, 83, 15%);
}
.ticket-img {
    height: 200px;
    background: url(../img/Price_img.png);
    margin-bottom: 31px;
    padding: 85px 191px;
    font-size: 19px;
    line-height: 30px;
    color: var(--color-white);
}
.text-h2 {
}
.ticket-h2 {
    text-align: center;
    width: 108px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.text-p {
}
.ticket-p {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
}
.ticket-list {
    list-style-type: none;
    padding-left: 109px;
    margin-bottom: 24px;
    
    width: 323px;
}

.ticket-list li {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 10px;
    height: 35px;
}
.ticket-list:last-child {
    margin-bottom: 0;
}
.btn {
}
.ticket-btn {
    display: flex;
    justify-content: center;
    width: 137px;
    margin: 0 auto;
    font-size: 13px;
}

/**************************************************** Employees_section ****************************************************/
.employees {
    padding-top: 115px;
}
.employees-slider {
    width: 100%;
    overflow: hidden; /* Скрываем выходящие за границы изображения */
    position: relative;
}
.employees_slides {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 362px;
    transition: transform 0.5s ease-in-out;
}
.slide {
    display: block;
    text-align: center;
    height: 346px;
    width: 380px;
    padding: 45px 47px 41px 46px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    flex-shrink: 0;
}

 input[type="radio"] {
    display: none;
}

.slide-p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto" sans-serif;
    margin-bottom: 6px;
    width: 287px;
    text-align: center;
}
.avatar_employess {
    margin-bottom: 20px;
}

.slide-h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;

}
.slide-h6 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--color-black);
}
.text-h6 {
}
.score {
}
.slide-score {
}
.fa {
}
.fa-star {
}
#slide1:checked ~ .employees_slides { 
    transform: translateX(0%); 
}

#slide2:checked ~ .employees_slides { 
    transform: translateX(-65.5%); 
}

.slide-controls {
    text-align: center; /* Размещаем точки по центру */
    margin-top: 10px; /* Добавляем отступ сверху */
}


.slide-controls label {
    display: inline-block; /* Размещаем точки в строку */
    width: 8px; /* Размер точки */
    height: 8px;
    background: gray; /* Серый цвет точки */
    border-radius: 50%; /* Делаем точки круглыми */
    margin: 1px; /* Добавляем небольшой отступ между ними */
    cursor: pointer; /* Делаем курсор в виде руки при наведении */
}

.slide-controls label:hover {
    background-color: red;
}

#slide1:checked ~ .slide-controls label[for="slide1"],
#slide2:checked ~ .slide-controls label[for="slide2"] {
    background: black;
}
/**************************************************** Team_section ****************************************************/
.team {
    padding-top: 68px;
    
}
.team-item {
    padding-top: 132px;
    height: 500px;
    background: url(../img/IMAGE\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.text-h6 {
}
.team-h6 {
    margin-bottom: 23px;
}
.text-p {
}
.team-p {
    margin: 0 auto;
    width: 776px;
    margin-bottom: 37px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}
.btn {
}
.team-btn {
    width: 161px;
}

/**************************************************** Brand_section ****************************************************/

.brand {
}
.brand-item {
    display: flex;
    justify-content: space-between;
    gap: 66px;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-right: none;
    border-left: none;
    padding-top: 62px;
    padding-bottom: 60px;

}
/**************************************************** Blogs_section ****************************************************/
.blogs {
    padding-top: 100px;
}
.blogs-title {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.text-h6 {
    
}
.title-h6 {
    margin-bottom: 6px;
}
.text-h2 {
}

.title-h2 {
    margin-bottom: 66px;
    font-size: 44px;
    line-height: 48px;
}
.blogs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-template-areas: 
     "card_f card-t"
     "card_s card-t";
    
}
.blogs-item {
}
.blogs-card {
    display: flex;
    padding: 21px 21px 21px 21px;
    height: 240px;
    width: 592px;
}
.img-blogs {
}
.blogs-text {
}
.card-h6 {
}
.text-h4 {
}
.card-h4 {
}
.text-p {
}
.card-p {
}
.card-h2 {
}

.blogs-first {
    grid-area: card-f;
}

.blogs-second {
    grid-area: card-s;
}

.blogs-thrid {
    grid-area: card-t;
    height: 495px;
}
