*, *::after, *::before {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

.oswalduniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.robotouniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}